<div id="features-section">
  <div class="features-title">
    <h5>Our Features</h5>
  </div>
  <h2>Our Key Benefits</h2>
  <p class="title-paragraph">Our platform is designed to meet your specific financial needs and expectations.</p>
  <div class="features">
    <div class="features-items">
      <div class="feature-item">
        <h3>Dashboard</h3>
        <p>Gain immediate insights with our Dashboard, a central hub for your financial overview.
          Track your finances, and budget health, all at a glance.</p>
      </div>
      <div class="feature-item">
        <h3>Expense tracking</h3>
        <p>Our Expense Tracking feature allows transparent monitoring of your expenditures.
          Categorize your spending, watch the chart, and never lose sight of where your money goes.</p>
      </div>
      <div class="feature-item">
        <h3>Download reports</h3>
        <p>Generate comprehensive reports with a simple click. Our Download Reports feature provides detailed
          breakdowns of your financial data for personal analysis or sharing with advisors.</p>
      </div>
    </div>
    <div class="features-image">
      <img src="assets/images/employee_benefits_package_17.jpg">
    </div>
    <div class="features-items">
      <div class="feature-item">
        <h3>Earnings tracking</h3>
        <p>Keep a precise record of your income streams with our Earnings Tracking tool.
          Monitor your earnings over time to forecast trends and optimize your financial planning.</p>
      </div>
      <div class="feature-item">
        <h3>Savings piggy banks</h3>
        <p>Set and achieve your savings goals with our intuitive Savings Goals feature.
          Create up to 3 piggy banks for different purposes and visually track your progress towards each milestone.</p>
      </div>
      <div class="feature-item">
        <h3>Motivational Quote</h3>
        <p>Start each day with a surge of inspiration with our Motivational Quote.
          Everytime, get a new quote that motivates you to push forward in your financial journey and personal growth</p>
      </div>
    </div>
  </div>
</div>
