<div id="earnings-section">
  <header>
    <button id="add-earning" class="btn" data-bs-toggle="modal" data-bs-target="#add-earning-modal">
      <fa-icon class="plus" [icon]="plusIcon"></fa-icon>
      Add earning
    </button>
    <div class="month-selector">
      <fa-icon class="arrow" (click)="changeMonth(-1)" [icon]="leftIcon"></fa-icon>
      <span>{{ displayMonthYear(currentDate) }}</span>
      <fa-icon class="arrow" (click)="changeMonth(1)" [icon]="rightIcon"></fa-icon>
    </div>
    <div class="export-report" (click)="exportToPdf()">
      <fa-icon [icon]="downloadIcon"></fa-icon>
      <p>Export Data</p>
    </div>
  </header>
  <div class="vertical-line"></div>
  <div class="earnings-details">
    <div class="earnings-list-container">
      <div class="earning-entry earning-info">
        <div>Date</div>
        <div>Source</div>
        <div>Amount</div>
      </div>
      <ng-container *ngIf="earningsByDate?.length;else noEarnings">
        <div class="earning-entry earning"  *ngFor="let earning of earningsByDate" (click)="selectEarning(earning)">
          <div>{{ earning.date | date: 'shortDate' }}</div>
          <div>{{ earning.source }}</div>
          <div>{{ earning.amount | currency }}</div>
        </div>
        <button id="earning-details-open" data-bs-toggle="modal" data-bs-target="#earning-details-modal"></button>
      </ng-container>
      <ng-template #noEarnings>
        <p>No earnings yet.</p>
      </ng-template>
    </div>
    <div class="chart" >
      <ngx-charts-bar-vertical *ngIf="earningsByDate?.length"
        [scheme]="colorScheme"
        [results]="earningsData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendPosition]="below"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Source'"
        [yAxisLabel]="'Amount'"
        style="fill: white;">
        <ng-template #tooltipTemplate let-model="model">
          <div style="padding:10px; text-align:center;">
            <span>{{model.name}}: {{model.value | currency}}</span>
          </div>
        </ng-template>
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <app-add-earning-modal (earningAdded)="refreshEarnings()"></app-add-earning-modal>
  <app-earning-details-modal [earning]="selectedEarning"
                             (needRefresh)="refreshEarnings()">
  </app-earning-details-modal>
</div>
