.dashboard-container {
  display: flex;
  gap: 15px;
  background-color: #363658;
  height: 100vh;
}

.dashboard-nav {
  color: white;
  flex: 1;
  height: 100%;
}

#dashboard-main-section {
  flex: 10;
  overflow: hidden;
}

.dashboard-content {
  border-radius: 15px;
  background-color: #363658;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  height: calc(100% - 20px);
  overflow-y: auto;
  overflow-x:hidden;
}
.dashboard-content::-webkit-scrollbar {
  width: 8px;
}

.dashboard-content::-webkit-scrollbar-thumb {
  background-color: #817cd4;
  border-radius: 10px;
}

.dashboard-content::-webkit-scrollbar-track {
  background: #363658;
}
