.modal-dialog {
  margin-top: 0;
}

.modal-content {
  position: relative;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-close:focus {
  box-shadow: none;
}

.login-logo {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 20px;
}

.modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.form-label {
  text-align: start;
}

.sign-btn {
  padding: 5px 60px;
  text-align: center;
  line-height: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.create-redirect {
  margin: 0;
  font-size: 14px;
}

.redirect-link {
  text-decoration: none;
}

.redirect-link:hover {
  text-decoration: underline;
}

form {
  font-family: "Lato Semibold", serif;
}
.alert-danger{
  padding:5px;
}

