<div class="modal fade" id="view-all-modal" tabindex="-1" aria-labelledby="viewAllModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl custom-modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Expenses Details</h4>
        <button type="button" class="btn-close" id="view-all-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="category-filter" class="form-label">Category Filter</label>
        <select id="category-filter" [(ngModel)]="selectedCategory" (change)="filterExpenses()">
          <option value="All expenses">All Expenses</option>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
        <table>
          <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Message</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let expense of filteredExpenses; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <div *ngIf="editableRow === i; else displayDate">
                <input type="date" class="form-control" name="date{{i}}" [(ngModel)]="expense.date" required>
              </div>
              <ng-template #displayDate>{{expense.date | date:'shortDate'}}</ng-template>
            </td>
            <td>
              <div *ngIf="editableRow === i; else displayMessage">
                <input type="text" [(ngModel)]="expense.message" required>
              </div>
              <ng-template #displayMessage>{{expense.message}}</ng-template>
            </td>
            <td>
              <div *ngIf="editableRow === i; else displayCategory">
                <select class="form-control" name="category{{i}}" [(ngModel)]="expense.category" required>
                  <option value="" disabled selected>Select a category</option>
                  <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
              </div>
              <ng-template #displayCategory>{{expense.category}}</ng-template>
            </td>
            <td>
              <div *ngIf="editableRow === i; else displayAmount">
                <input type="text" [(ngModel)]="expense.amount" required>
              </div>
              <ng-template #displayAmount>{{expense.amount}}$</ng-template>
            </td>
            <td>
              <div class="buttons">
                <button type="button" class="btn btn-primary edit-btn" *ngIf="editableRow !== i; else successButton"
                        (click)="toggleEdit(i)">
                  <fa-icon [icon]="editIcon"></fa-icon>
                </button>
                <ng-template #successButton>
                  <button type="button" class="btn btn-success" (click)="updateExpense(expense)">
                    <fa-icon [icon]="successIcon"></fa-icon>
                  </button>
                </ng-template>
                <button type="button" class="btn btn-danger remove-btn" (click)="removeExpense(i)">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
