<div id="expenses-section">
  <header>
    <button id="add-expense" class="btn">
      <fa-icon class="plus" [icon]="plusIcon"></fa-icon>
      Add expense
    </button>
    <div class="month-selector">
      <fa-icon class="arrow" (click)="changeMonth(-1)" [icon]="leftIcon"></fa-icon>
      <span>{{ displayMonthYear }}</span>
      <fa-icon class="arrow" (click)="changeMonth(1)" [icon]="rightIcon"></fa-icon>
    </div>
    <div class="export-report">
      <fa-icon [icon]="downloadIcon"></fa-icon>
      <p>Export Data</p>
    </div>
  </header>
  <div class="expenses-summary">
    <div id="cards">
      <div class="expense-card" *ngFor="let category of categories">
        <img src="../../../assets/images/{{category}}.png" alt="{{category}} icon">
        <p class="category-name">{{category}}</p>
        <hr>
        <div class = "expense">
          <p>18.12</p>
          <p>Christmas Gift</p>
          <p>100$</p>
        </div>
        <div class = "expense">
          <p>18.12</p>
          <p>Christmas Gift</p>
          <p>100$</p>
        </div>
        <div class = "expense">
          <p>18.12</p>
          <p>Christmas Gift</p>
          <p>100$</p>
        </div>
        <a class="view-all">View all...</a>
      </div>
    </div>
    <div id="expense-chart" style="width: 400px;height: 400px">
    </div>
  </div>
</div>

