#expenses-section {
  width: 73vw;
  height: 80vh;
  background-color: #363658;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#add-expense {
  margin: 1rem;
  background-color: #77DD77;
  color: #333333;
  font-size: 18px;
}

#add-expense:hover {
  background-color: #68C168;
  color: #FFFFFF;
}

#expenses-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 1rem;
  border-bottom: 1px solid #c3c3d2;
}

.month-selector {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #f9f9fa;
}

.month-selector button {
  margin: 0 10px;
}

.month-selector span {
  padding: 0 8px;
}

fa-icon:hover {
  cursor: pointer;
}

.export-report {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #f9f9fa;
}

.export-report {
  font-size: 20px;
}

.export-report p {
  margin: 0;
  padding: 5px;
}

.export-report:hover {
  cursor: pointer;
  color: #c3c3d2;
  transition: 0.2s ease-in-out;
}

.arrow:hover {
  color: #c3c3d2;
  transition: 0.2s ease-in-out;
}

.plus {
  font-weight: lighter;
}
