#expenses-section {
  width: 100%;
  height: 100%;
}

#add-expense {
  margin: 1rem;
  background-color: #77DD77;
  color: #333333;
  font-size: 18px;
}

#add-expense:hover {
  background-color: #68C168;
  color: #FFFFFF;
}

#expenses-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 1rem;
  border-bottom: 1px solid #c3c3d2;
}

.expenses-summary {
  display: flex;
  justify-content: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 10px;
  overflow-y: auto;
}

.expense-card {
  font-family: "Lato", serif;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(33.33% - 20px);
  max-height: 350px;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.expense-card p {
  margin: 0;
}

.expense-card img {
  max-width: 100px;
  align-self: center;
}

#expenses-section hr {
  border: 1px solid black;
  margin: 5px 0;
  width: 90%;
}

.expense {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.view-all {
  text-decoration: none;
}

.view-all:hover {
  cursor: pointer;
}

.category-name {
  margin: 0;
  font-weight: bolder;
}

#expense-chart {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#expense-chart ngx-charts-pie-chart {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-label {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px;
}

.total-spent {
  font-size: 20px;
  margin-bottom: 0;
}

.legend-label-text {
  font-size: 14px !important;
  color: white;
}

@media (max-width: 1080px) {
  .expense-card p {
    font-size: 14px;
  }

  .expense-card img {
    max-width: 70px;
  }

}

@media (max-width: 1200px) {
  #add-expense,
  .export-report {
    font-size: 15px;
  }
}

@media (max-width: 1300px) {
  .expense-card {
    flex-basis: calc(50% - 20px);
  }

  .expense {
    margin: 0 auto;
  }

  .center-label {
    top: 22%;
  }
}

@media (max-width: 1400px) {
  .expense-card p {
    font-size: 15px;
  }
}

@media (max-width: 1040px) {
  .center-label {
    top: 20%;
  }

  .center-label p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  #add-expense {
    font-size: 14px;
  }

  .export-report {
    font-size: 14px;
  }
}
