<div id="expenses-section">
  <header>
    <button id="add-expense" class="btn">
      <fa-icon class="plus" [icon]="plusIcon"></fa-icon>
      Add expense
    </button>
    <div class="month-selector">
      <fa-icon class="arrow" (click)="changeMonth(-1)" [icon]="leftIcon"></fa-icon>
      <span>{{ displayMonthYear }}</span>
      <fa-icon class="arrow" (click)="changeMonth(1)" [icon]="rightIcon"></fa-icon>
    </div>
    <div class="export-report">
      <fa-icon [icon]="downloadIcon"></fa-icon>
      <p>Export Data</p>
    </div>
  </header>
</div>

