<div id="quoteCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="6000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner-container" style="background-image: url('/assets/images/home-page-analysis.jpg')">
        <div class="centered-text">"It's not how much money you make, but how much money you keep, how hard it works
          for you, and how many generations you keep it for."
        </div>
        <div class="centered-text author">~ Robert Kiyosaki</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-container" style="background-image: url('/assets/images/home-page-saving.jpg')">
        <div class="centered-text">"Do not save what is left after spending, but spend what is left after saving."
        </div>
        <div class="centered-text author">~ Warren Buffett</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-container" style="background-image: url('/assets/images/home-page-coins.jpg')">
        <div class="centered-text">"Wealth is not about having a lot of money, it's about having a lot of options."
        </div>
        <div class="centered-text author">~ Chris Rock</div>
      </div>
    </div>
  </div>
</div>
