<div id="welcome-section" class="flex-row">
  <h2>Good day to reach your goals, {{user?.firstName}}!</h2>
  <span class="date-calendar"><fa-icon class="text-white" [icon]="calendarIcon"></fa-icon>
    {{ currentDate | date: 'MMM d, y' }}</span>
  <div class="dropdown text-end">
    <a  class="d-block text-decoration-none dropdown-toggle" id="profile-dropdown" data-mdb-toggle="dropdown" aria-expanded="false">
      {{user?.firstName}} {{user?.lastName}}
    </a>
    <ul class="dropdown-menu text-small " aria-labelledby="profile-dropdown"  data-popper-placement="bottom-start">
      <li><a class="dropdown-item" routerLink="/dashboard/profile" routerLinkActive="active">
        <fa-icon [icon]="userIcon"></fa-icon>
        Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="onSignOut()">
        <fa-icon [icon]="signOutIcon"></fa-icon>
        Sign out</a></li>
    </ul>
  </div>
</div>

