#welcome-section {
  background-image: linear-gradient(to bottom, #55578d, #44446f);
  border-radius: 15px;
  padding: 1vh 2vh;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}
:host {
  display: block;
  width: 100%;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  white-space: nowrap;
}

#profile-dropdown {
  margin-left: auto;
  color:white;
}

h2 {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Lato";
}

#welcome-section span,
#welcome-section .dropdown {
  font-size: 1.4rem;
  font-family: "Lato";
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover{
  background-color: #c1c1d0;
  transition: 0.1s ease-in-out;
}
#profile-dropdown:hover{
  color:#212529;
}
.dropdown:hover #profile-dropdown {
  color: #212529;
}
a:hover{
  cursor: pointer;
}
